.container {
	width: 350px;
	background: url('../img/loeve.png') no-repeat right bottom 60px / 150px;
	word-wrap: break-word;
}
.label {
	white-space: normal;
	line-height: 20px;
}
#udtaleAudio {
	cursor: pointer;
}