$primaer-farve: #598AA3;

html {
	height: 0px !important;
}
body {
	.ui-state-active a,
	.ui-state-active a:link,
	.ui-state-active a:visited,
	.ui-widget-content .ui-state-active {
		background: $primaer-farve;
		border: none;
	}
	::selection {
		color: white;
		background: $primaer-farve;
	}
	.container {
		width: 350px;
		.indlaes {
			transition: 0.1s linear all;  
			opacity: 1;
		}
		.indlaes.ng-hide {
			transition: 0.4s linear all;
			opacity: 0;
		}
		.opslagAnimation {
			word-wrap: break-word;
			transition: 0.5s linear all;  
			opacity: 1;
		}
		.opslagAnimation.ng-hide {
			transition: 0.5s linear all;  
			opacity: 0;
		}
		#opslag {
			position: relative;
		}
		#indlaes {
			position: absolute;
			margin: 0 auto;
			left: 0;
			right: 0;
			z-index: 1;
		}
		.audio {
			display: none;
		}
	}
}