html {
	height: 0px !important;
}
body {
	::selection {
		color: white;
		background: #598AA3;
	}
	.container {
		width: 350px;
		position: relative;
		.indlaes {
			transition: 0.1s linear all;  
			opacity: 1;
		}
		.indlaes.ng-hide {
			transition: 0.4s linear all;
			opacity: 0;
		}
		.ordbog {
			word-wrap: break-word;
			transition: 0.5s linear all;  
			opacity: 1;
		}
		.ordbog.ng-hide {
			transition: 0.5s linear all;  
			opacity: 0;
		}
		#indlaes {
			position: absolute;
			left: 50%;
			top: 100px;
			transform: translate(-50%, 0);
			z-index: 1;
		}
		.audio {
			display: none;
		}
	}
}