.fade-in {
  animation: fadeIn 0.5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  width: 350px;
}
#wrapper {
  display: grid;
  grid-auto-flow: row;
  gap: 5px;
  padding: 10px;
  max-height: 400px;
  h1 {
    font-size: x-large;
  }
  input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px;

    &:focus {
      outline: none;
      border-color: #007bff;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
    }
  }
  .autocomplete-container {
    position: relative;
    .autocomplete-list {
      position: absolute;
      top: -5px;
      left: 0;
      width: 100%;
      overflow-y: auto;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      z-index: 1;

      li {
        list-style: none;
        padding: 5px 10px;
        cursor: pointer;

        &:hover {
          background-color: #598aa3;
          color: white;
        }
      }
    }
  }

  .wide-button,
  .copyright,
  .audio {
    display: none;
  }
  #spinner {
    place-self: center;
  }
}
