<!DOCTYPE html>
<html data-ng-app="ordnet" data-ng-controller="IndstillingerController">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">
	<title data-ng-bind="manifest.name"></title>
</head>
<body>
	<main data-ng-init="initialiser()" class="container">
		<h3>Indstillinger</h3>
		<table class="table table-condensed">
			<thead>
				<tr>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<label>Aktivering af autocomplete:</label>
					</td>
					<td>
						<label class="radio-inline">
							<input data-ng-model="indstillinger.autocomplete" data-ng-change="gemIndstillinger(indstillinger.autocomplete)" data-ng-checked="resultat.autocomplete == true ? true : false" data-ng-value="true" type="radio" name="autocomplete">Til
						</label>
					</td>
					<td>
						<label class="radio-inline">
							<input data-ng-model="indstillinger.autocomplete" data-ng-change="gemIndstillinger(indstillinger.autocomplete)" data-ng-checked="resultat.autocomplete == false ? true : false" data-ng-value="false" type="radio" name="autocomplete">Fra
						</label>
					</td>
				</tr>
			</tbody>
		</table>
		<hr>
	</main>
	<script src="js/analyticstracking.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/options.js"></script>
</body>
</html>