<!DOCTYPE html>
<html data-ng-app="ordnet" data-ng-controller="OrdnetController">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/bootstrap-theme.min.css" />
	<link rel="stylesheet" href="css/styles.css" />
	<title data-ng-bind="manifest.name"></title>
</head>
<body>
	<main ng-init="init()" class="container">
		<section class="row form-group col-md-12">
			<h2 data-ng-bind="manifest.name"></h2>
			<input data-ng-model="soegetekst" data-ng-change="onChange()" data-ng-model-options="{debounce: 500}" type="text" autofocus placeholder="Indtast søgetekst..." class="form-control">
		</section>
		<hr class="row" />
		<section class="row col-md-12">
			<h3>Betydning</h3>
			<div data-ng-bind="betydning1"></div>
			<h4>Synonymer</h4>
			<span data-ng-bind="synonym" class="label label-primary">Primary</span>
		</section>
		<hr class="row" />
		<div class="row col-md-12">
			<h3>Mente du</h3>
			<span ng-repeat="mente in menteDu">
				<span ng-bind="mente" class="label label-default"></span>
			</span>
		</div>
		<hr class="row" />
	</main>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/popup.js"></script>
</body>
</html>