<!DOCTYPE html>
<html data-ng-app="ordbog" data-ng-controller="OrdbogController">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="../css/jquery-ui.min.css">
	<link rel="stylesheet" href="../css/jquery-ui.theme.min.css">
	<link rel="stylesheet" href="../css/ordnetapp.min.css">
	<link rel="stylesheet" href="../css/style.min.css">
	<title data-ng-bind="manifest.name"></title>
</head>
<body>	
	<main data-ng-init="initialiser()" class="container">
		<div data-ng-if="sprog != 'da'" class="row col-md-12">
			<div id="google_translate_element" class="pull-right"></div>
		</div>
		<header class="row col-md-12 form-group">
			<h3 data-ng-bind="manifest.name" class="pull-left"></h3>
			<input data-ng-model="soegetekst" data-ng-change="vedAendring()" data-ng-model-options="{debounce: 300}" data-ng-style="background" placeholder="{{placeholder}}" class="form-control notranslate" id="soegetekst" autofocus>
		</header>
		<img data-ng-show="indlaes" src="../img/indlaeser.svg" alt="{{indlaeser}}" class="indlaes ng-hide" id="indlaes">
		<section data-ng-show="ordbog" data-ng-bind-html="html" class="row col-md-12 ordbog ng-hide"></section>
		<footer data-ng-if="html" class="row col-md-12">
			<hr>
			<small class="pull-right"><em data-ng-bind="manifest.version" class="text-muted notranslate"></em></small>
		</footer>
	</main>
	<script src="../js/konfiguration.js"></script>
	<script src="../js/analyticstracking.min.js"></script>
	<script src="../js/element.min.js?cb=googleTranslateElementInit"></script>
	<script src="../js/jquery.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/jquery-ui.min.js"></script>
	<script src="../js/autocomplete.js"></script>
	<script src="../js/angular.min.js"></script>
	<script src="../js/angular-animate.min.js"></script>
	<script src="../js/angular-sanitize.min.js"></script>
	<script src="../controllers/ordbogController.js"></script>
</body>
</html>