<!DOCTYPE html>
<html data-ng-app="Ordbog" data-ng-controller="OrdbogController" data-ng-lang="{{sprog}}">
<head class="notranslate">
	<meta charset="UTF-8">
	<meta name="description" ng-attr-content="{{manifest.description}}">
	<meta name="author" ng-attr-content="{{manifest.author}}">
	<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="../node_modules/jquery-ui-dist/jquery-ui.min.css">
	<link rel="stylesheet" href="../css/ordnetapp.min.css">
	<link rel="stylesheet" href="../css/style.min.css">
	<title data-ng-bind="manifest.name"></title>
</head>
<body>
	<main data-ng-init="initialiser()" class="container">
		<section data-ng-if="sprog != 'da'" class="row">
			<div class="col-xs-12 text-right">
				<div id="google_translate_element"></div>
			</div>
		</section>
		<header class="notranslate">
			<div class="row">
				<div class="col-xs-10">
					<h3 data-ng-bind="manifest.name"></h3>
				</div>
				<div class="col-xs-2">
					<h6 data-ng-click="visSoegehjaelp = true" data-ng-hide="visSoegehjaelp" class="text-right text-muted" role="button"><span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span></h6>
				</div>
			</div>
			<div class="row">
				<div data-ng-show="visSoegehjaelp" id="soegehjaelp" class="col-xs-12">
					<div class="well well-sm" role="alert">
						<button data-ng-click="visSoegehjaelp = false" type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
						<button data-ng-click="vedAendring('æ', true, false)" type="button" class="btn btn-default btn-sm">æ</button>
						<button data-ng-click="vedAendring('ø', true, false)" type="button" class="btn btn-default btn-sm">ø</button>
						<button data-ng-click="vedAendring('å', true, false)" type="button" class="btn btn-default btn-sm">å</button>
						<button data-ng-click="vedAendring('á', true, false)" type="button" class="btn btn-default btn-sm">á</button>
						<button data-ng-click="vedAendring('é', true, false)" type="button" class="btn btn-default btn-sm">é</button>
						<button data-ng-click="vedAendring('è', true, false)" type="button" class="btn btn-default btn-sm">è</button>
						<button data-ng-click="vedAendring('ü', true, false)" type="button" class="btn btn-default btn-sm">ü</button>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 form-group">
					<input data-ng-model="soegetekst" data-ng-change="vedAendring(soegetekst, false, false)" data-ng-model-options="{debounce: 300}" data-ng-style="background" placeholder="{{placeholder}}" id="soegetekst" class="form-control" autofocus>
				</div>
			</div>
		</header>
		<section data-ng-if="ordforslag.length" class="row notranslate">
			<div class="col-xs-12">
				<div class="nomatch">
					<h3>
						<span data-ng-bind="menteDu" class="highlight"></span>
					</h3>
					<ul>
						<li ng-repeat="ord in ordforslag">
							<a data-ng-bind="ord" data-ng-click="vedAendring(ord, false, true)" href="#"></a>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<article id="opslag" class="row">
			<img data-ng-show="indlaes" src="../img/indlaeser.svg" alt="{{indlaeser}}" id="indlaes" class="indlaes ng-hide notranslate">
			<div data-ng-show="opslagAnimation" data-ng-bind-html="opslag" class="col-xs-12 opslagAnimation ng-hide"></div>
		</article>
		<footer data-ng-if="opslag" class="row notranslate">
			<div class="col-xs-12 text-right">
				<hr>
				<small><em data-ng-bind="manifest.version" class="text-muted"></em></small>
			</div>
		</footer>
	</main>
	<script src="../js/konfiguration.min.js"></script>
	<script src="../js/analytics.min.js" async></script>
	<script src="../js/element.min.js?cb=googleTranslateElementInit"></script>
	<script src="../node_modules/jquery/dist/jquery.min.js"></script>
	<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="../node_modules/jquery-ui-dist/jquery-ui.min.js"></script>
	<script src="../js/autocomplete.min.js"></script>
	<script src="../node_modules/angular/angular.min.js"></script>
	<script src="../node_modules/angular-animate/angular-animate.min.js"></script>
	<script src="../node_modules/angular-sanitize/angular-sanitize.min.js"></script>
	<script src="../controllers/ordbogController.min.js"></script>
</body>
</html>